
    img {
    text-align: center;
    width: 350px;
    height: 350px;
    border-radius: 50%;
 }

 /* tombol 1 */
 .btn1{
    font-family: sans-serif;
font-size: 15px;
background: blueviolet;
color: white;
border: white 3px solid;
border-radius: 5px;
padding: 12px 100px;
margin: 10px 20px;
text-decoration: none;
}

button:hover{
opacity:0.9;
}

/* tombol 2 */
.btn2{
    font-family: sans-serif;
font-size: 15px;
background: blue;
color: white;
border: white 3px solid;
border-radius: 5px;
padding: 12px 100px;
margin: 10px 20px;
text-decoration: none;
}

button:hover{
opacity:0.9;
}

/* tombol 3 */
.btn3{
    font-family: sans-serif;
font-size: 15px;
background: green;
color: white;
border: white 3px solid;
border-radius: 5px;
padding: 12px 100px;
margin: 10px 20px;
text-decoration: none;
}

button:hover{
opacity:0.9;
}

 .foto {
    display: flex;
    justify-content: center;
    align-items: center;
 }
 #btn2 {
    margin: 35px 0;
 }
 #btn3 {
    margin: 35px 0;
 }

 /* Supaya Responsive */
 @media (max-width: 900px) {
    img {
        width: 100px;
        height: 100px;
    }
.btn1 {
    padding: 10px 100%;
}
.btn2 {
    padding: 10px 100%;
}
.btn3 {
    padding: 10px 100%;
}
 }